/***************** CSS de photographer.html*********** */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header a{
  margin-top: 15px;
  margin-bottom: 0px;
}
/*************section profil photographe*********** */
.photograph-header article {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--beige);
  min-height: 313px;
  width: 1240px;
  margin: 30px auto;
  padding: 15px 30px 40px 50px;
  color: var(--grey);
  border-radius: 5px;
}

.photograph-header div {
  margin-top: 15px;
}

.photograph-header p {
  margin-left: 10px;
}

.photograph-header img {
  margin-top: 40px !important;
}

.photograph-header h1{
  font-size: 64px;
  margin-bottom: 0px;
  color:var(--secondary);
}

.contact-button,
.dropdown-button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  margin-top: 10px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: var(--primary);
  border-radius: 5px;
  cursor: pointer; 
}

main .contact-button {
  position: absolute;
  top: 290px;
  right: 45%;
}

.badge {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: none;
  border-radius: 5px 5px 0 0;
  background-color: var(--tertiary);  
  width: 376px;
  height: 70px;
  position: fixed;
  bottom: 0;
  right: 260px;
}

.badge div {
  margin-top: 0px;
}
.badge span{
  font-size: 24px;
  font-weight: 600;
  color: var(--black);
}
.badge .fa-heart {
  color: var(--black);
}

/*************section modal du formulaire de contact*********** */
#contact_modal {
  display: none;
}

.modal {
  border-radius: 5px;
  background-color: var(--tertiary);
  box-shadow: 0px 2px 10px #000;
  max-width: 669px ;
  width: 54%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto; 
  /*Pour centrer la modale*/
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

form div {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 26px;
}

.modal header img {
  cursor: pointer;
}

.modal h2 {
  font-size: 40px;
  color: var(--black);
  margin: 0px;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form span {
  color: var(--black);
  font-size: 40px;
  margin-bottom: 15px;
}

form label {
  color: #312e2e;
  font-size: 25px;
}

form input {
  width: 100%;
  height: 45px;
  border: none;
  border-radius: 5px;
  padding: 8px;
  margin-bottom: 5px;  
}

form textarea {
  width: 100%;
  height: 110px ;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
}

.formData {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 0px;
}

/* Message error for form validation */
.formData[data-error]::after {
  content: attr(data-error);
  font-size: 15px;
  color: var(--primary);
  display: block;
  margin-bottom: 10px;
  line-height: 0.3;
  opacity: 0;
  transition: 0.3s;
}
.formData[data-error-visible="true"]::after {
  opacity: 1;
}

/*************section filtres (dropdown)*********** */
.filter {
  position: relative;
  right: 490px;
  top: 20px;
}

.filter span {
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dropdown-menu {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  margin-top: 10px;
  width: 170px;
  border: none;  
  background-color: var(--primary);
  border-radius: 5px;
  list-style: none;
  cursor: pointer; 
  visibility: hidden;
  position: absolute;
  top: 0px; 
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-menu[aria-expanded='true'] {
  visibility: visible;
}

.dropdown-menu li {
  padding:10px;
}
.dropdown-menu li:not(:last-child) {
  border-bottom: 1px solid #fff;
}

.up-icon::before { 
    font-family: 'Font Awesome 5 Free';
    content: '\f106';
    font-weight: 900;
    color:#ffffff;
    margin-left: 18px;
}

.down-icon::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f107";
  color: #ffffff;
  position:absolute;
  right: 20px;
}


/*************section portefolio du photographe*********** */
.portefolio {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1240px;
  margin-top: 70px;

}
.card {
  width: 350px;
  height: 351px;
  margin-bottom: 30px;
}

.card-header img,
.card-header video {
  width: 350px;
  height: 300px;
  object-fit: cover;
  cursor: pointer;
}

.card-body {
  width: 350px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.card-body h3 {
  width: 265px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.row {
  width: 45px; 
  display: flex; 
  flex-direction: row;
  align-items: center;
}

.card-body span {
  font-size: 24px;
  color: var(--primary);   
}

.fa-heart {
  font-size: 24px!important; 
  cursor: pointer;
  color: var(--primary);
  margin: 5px;
}

/*************section modal de lightbox*********** */
/*background modal*/
#lightbox_modal {
  display: none;
  width: 100%;
  height: 100%;
  background-color: #ffffff;  
  /*Pour centrer la modale*/
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*content modal*/
.lightbox-modal {
  width: 1242px;
  height: 900px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto; 
}

.close-lightbox {
  position: absolute;
  top: 10px;
  right: 350px;
}

.back {
  width: 25px;
  display: flex;  
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.back img,
.forward img{
  width: 48px;
  height: 48px;  
  cursor: pointer;
}
.frame {
  width: 1190px;
  display: flex;  
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.frame img,
.frame video {
  width: 900px;
  height: 800px;
  object-fit: cover;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.frame h3 {
  margin-left: 0px;
}
.forward {
  width: 25px;
  display: flex;  
  flex-direction: column;  
  align-items: center;
}

/*************MediaQueries****************** */
/*css only for large screen  */
@media screen and (max-width: 1366px) {
  .modal {
  width: 600px;
  padding: 25px;
  }
  .modal h2, 
  .modal span {
    font-size: 30px;
  }
  .modal label {
    font-size: 20px;
  } 
  .modal img {
    width:30px;
  } 
    
  .modal .contact-button {
  font-size: 16px;
  margin-top: 10px;
  width: 140px;
  height: 50px;  
  }
  .lightbox-modal {
    width: 900px;
  }
  .frame {
    width: 850px;
  }
  .slide img,
  .slide video {
    width: 650px;  
}
  .close-lightbox {    
    right: 180px;    
  }
}
/*css only for medium screen  */
@media screen and (max-width: 1280px) {
  .photograph-header article {
    align-items: center;
    width: 900px;
    min-height: 350px;
  }
  .photograph-header h1{
    font-size: 40px;
  }
  main .contact-button {
    top: 390px;
  }
  .badge {
    right: 30px;
  }
  
  .modal img {
    width: 20px;
  }
  
  .filter {
    right: 320px;
    top: 20px;
  }
  .portefolio {
    width: 900px;
  }
  .lightbox-modal {
    width: 800px;
  }
  .frame {
    width: 650px;
  }
  .slide img,
  .slide video {
    width: 600px;
    height: auto;
  }
  .close-lightbox {
    width: 30px;
    right: 80px;
    cursor: pointer;
  }
}

  /*css only for tablet and Mobile  */
@media screen and (max-width: 834px) {
  .photograph-header article {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 480px;
  }
  
  .photograph-header img:nth-child(2) {
    align-items: center;
    order: 1;
    margin-bottom: 50px;
  }
  main .contact-button {
    top: 610px;
    right: 38%;
  }
  .row {
    width: 20px; 
  }
  .badge {
    width: 250px;
    height: 45px;
    right: 10px;
  }
  .badge span{
    font-size: 16px;
  }
  .modal{
    width: 500px;
    min-width: 360px;
  }
  .filter {
    left: -110px;
    top: 20px;
  }
  .portefolio {
    width: 350px;
  }
  .lightbox-modal {
    width: 450px;
  }
  .frame {
    width: 400px;
  }
  .slide img,
  .slide video {
    width: 350px;
    height: auto;
  }
  .back img,
.forward img {
  width: 28px;
  height: 28px; 
}  
}
@media screen and (max-width: 480px) {
  main .contact-button {
    top: 620px;
    right: 25%;
  }
  .modal {
    width: 260px;
  }
  .filter {
    left: 0px;
    top: 30px;
  }
  .lightbox-modal {
    width: 350px;
  }
  .frame {
    width: 270px;
  }
  .slide img,
  .slide video {
    width: 250px;
    height: auto;
  }
  .close-lightbox {
    width: 20px;
    right: 310px;
  }
}
