@import url('photographer.css');

:root {
  --primary: #901c1c;
  --secondary: #d3573c;
  --tertiary: #DB8876;
  --grey: #525252;
  --beige: #fafafa;
  --black: #000000;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'DM Sans', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  background-image: url('../assets/images/bkg2.png');
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: 1440px;
  height: 1024px;
  object-fit: cover;
  background-position: 50% 0%;
  width: 100%;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  margin-top: 1%;
}
.head-container {
  box-sizing: border-box;
  width: calc(100% - 200px);
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

h1 {
  color: var(--primary);
  font-size: 36px;
  font-weight: 400;
}
h2 {
  color: var(--secondary);
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 10px;
}
h3 {
  color: var(--primary);
  font-size: 24px;
  font-weight: 400;
  margin: 0px;
}

h4 {
  color: var(--primary);
  font-size: 13px;
  font-weight: 400;
  margin: 0px;
}

span {
  font-size: 9px;
  color: var(--grey);
}

a {
  text-decoration: none;
}

.logo {
  height: 50px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 60px 210px;
  margin-top: 80px;
}

.photographer_section article {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 310px;
  line-height: 7px;
  font-size: 10px;
}

.photographer_section h2 {
  margin: 30px 0 23px 0;
}
.photograph-header img,
.photographer_section article img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0px 4px 15px #c4c4c4;
  margin: 14px;
}

/*css only for large screen  */
@media (min-width: 1440px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
  }
}
/*css only for medium screen  */
@media screen and (max-width: 1439px) {
  .photographer_section {
    gap: 50px 50px;
    margin-top: 50px;
  }
}
/*css only for tablet  */
@media screen and (max-width: 1024px) {
  .head-container {
    max-width: 800px;
    width: calc(100% - 50px);
  }
  .photographer_section {
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin-top: 50px;
  }
  h1 {
    font-size: 25px;
  }
  h2 {
    font-size: 30px !important;
  }
}

/*css only for Mobile  */
@media screen and (max-width: 480px) {
  .head-container {
    max-width: 320px;
    width: calc(100% - 30px);
  }
  .logo {
    height: 28px;
  }
  h1 {
    font-size: 16px;
  }
  .photographer_section {
    grid-template-columns: 1fr;
    gap: 40px;
    margin-top: 50px;
  }
}
