@import url('photographer.css');

body {
  font-family: 'DM Sans', sans-serif;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

h1 {
  color: #901c1c;
  margin-right: 8%;
  font-size: 36px;
  font-weight: 400;
}
h2 {
  color: #d3573c;
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 10px;
}
h3 {
  color: #901c1c;
  font-size: 24px;
  font-weight: 400;
}
h4 {
  color: #901c1c;
  font-size: 13px;
  font-weight: 400;
  margin: 0px;
}
p {
  font-size: 10px;
}
span {
  font-size: 9px;
  color: #757575;
}

.logo {
  height: 50px;
  margin-left: 10%;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  margin-top: 100px;
}

.photographer_section article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.photographer_section article h2 {
  color: #d3573c;
  font-size: 36px;
}

.photographer_section article img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .photographer_section {
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin-top: 50px;
  }
  h2 {
    font-size: 30px !important;
  }
}

@media screen and (max-width: 480px) {
  .logo {
    height: 30px;
  }
  h1 {
    font-size: 18px;
    margin-right: 3%;
  }
  .photographer_section {
    grid-template-columns: 1fr;
    gap: 40px;
    margin-top: 50px;
  }
}
